{% extends "navbase.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ profile.display_name }} | Khwarizmi {% endblock title%}

{% block content %}
<article class="content-section">
    <div class="media mb-2">
        <img class="rounded-circle account-img" src="{{ profile.image.url }}" />
        <div class="media-body account-metadata">
            <h2 class="account-heading">{{ profile.display_name }}</h2>
            <p class="text-secondary">{{ profile.user.username }}</p>
            {% if user == profile.user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-settings' profile.slug %}">Edit</a>
            {% endif %}
        </div>
    </div>
    <p class="article-content">{{ profile.bio }}</p>
</article>


{% if algorithms %}
<h1 class="text-light">{{ profile.display_name }}'s Algorithms</h1>
{% for algorithm in algorithms %}
<article class="content-section">
    <div class="media">
        <a href="{% url 'profile-detail' algorithm.author.profile.slug %}"><img class="rounded-circle article-img"
                src="{{ algorithm.author.profile.image.url }}" /></a>
        <div class="media-body article-metadata">
            <a class="mr-2 text-light"
                href="{% url 'profile-detail' algorithm.author.profile.slug %}">{{ algorithm.author.profile.display_name }}</a>
            <br>
            <small class="text-white-50">{{ algorithm.date_created }}</small>
        </div>
    </div>
    <h2><a class="article-title" href="{% url 'algorithm-detail' algorithm.slug %}">{{ algorithm.title }}</a></h2>
    <p class="article-content">{{ algorithm.description }}</p>
    <pre><code>{{ algorithm.code }}</code></pre>
</article>
{% endfor %}
{% endif %}


{% endblock content %}