{% extends "navbase.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ profile.display_name }} | Khwarizmi {% endblock title%}

{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ profile.image.url }}" />
        <div class="media-body">
            <h2 class="account-heading">{{ profile.display_name }}</h2>
            <p class="text-secondary">{{ profile.user.username }}</p>
        </div>
    </div>
    <p class="article-content">{{ profile.bio }}</p>
</div>


{% if algorithms %}
<h3>{{ profile.display_name }}'s Algorithms</h3>
{% for algorithm in algorithms %}
<article class="content-section">
    <div class="media mb-2">
        <img class="rounded-circle article-img" src="{{ algorithm.author.profile.image.url }}" />
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile-detail' algorithm.author.profile.slug %}">{{ algorithm.author.profile.display_name }}</a>
                <!-- TODO: use the date filter -->
                <small class="text-muted">{{ algorithm.date_created }}</small>
            </div>
        </div>
    </div>
    <h2><a class="article-title" href="{% url 'algorithm-detail' algorithm.slug %}">{{ algorithm.title }}</a></h2>
    <p class="article-content">{{ algorithm.description }}</p>
    <pre><code>{{ algorithm.code }}</code></pre>
</article>
{% endfor %}
{% endif %}


{% endblock content %}