{% extends "navbase.html" %}

{% block content %}
    {% for algorithm in algorithms %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ algorithm.author.profile.image.url }}"/>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ algorithm.author }}</a>
                <!-- TODO: use the date filter -->
                <small class="text-muted">{{ algorithm.date_created }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'algorithm-detail' algorithm.id %}">{{ algorithm.title }}</a></h2>
            <p class="article-content">{{ algorithm.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}
